span { padding: 2px; }
.tag1 { font-size: 1em; }
.tag2 { font-size: 1.1em; }
.tag3 { font-size: 1.2em; }
.tag4 { font-size: 1.3em; }
.tag5 { font-size: 1.4em; }
.tag6 { font-size: 1.5em; }
.tag7 { font-size: 1.6em; }
.tag8 { font-size: 1.7em; }
.tag9 { font-size: 1.8em; }
.smallTag { font-size: 11px; }
.mediumTag { font-size: 16px; }
.largeTag { font-size: 24px; }
a:link, a:visited { color: #0000CC; }
a:hover { color: #999; }
.instructions { font-size: 11px; color: #999; }