<div id="secondaryNavInner" class="row">

	<div id="sidebar-wrapper" class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li ng-class="{active:isActive('/data')}" >
				<a href="#/data">
					<span class="glyphicon glyphicon-home"></span> Datasets
				</a>
			</li>
			<li ng-class="{active:isActive('/Step1'), disabled: !selectedDataAccount.id}" >
				<a href="#/Step1">
					<span class="glyphicon glyphicon-align-left"></span> Stopwords
				</a>
			</li>
			<li ng-class="{active:isActive('/Step2'), disabled: !selectedDataAccount.id}" >
				<a href="#/Step2">
					<span class="glyphicon glyphicon-align-justify"></span> Negative words
				</a>
			</li>
			<li ng-class="{active:isActive('/Step3'), disabled: !selectedDataAccount.id}" >
				<a href="#/Step3">
					<span class="glyphicon glyphicon-pencil"></span> Segments
				</a>
			</li>
			<li ng-class="{active:isActive('/Step5'), disabled: !selectedDataAccount.id}" >
				<a href="#/Step5">
					<span class="glyphicon glyphicon-pencil"></span> Segments 2
				</a>
			</li>
			<li ng-class="{active:isActive('/Step4'), disabled: !selectedDataAccount.id}" >
				<a href="#/Step4">
					<span class="glyphicon glyphicon-save"></span> Output
				</a>
			</li>
		</ul>
	</div>

</div>
