<div>
	<div class="row">
<!--
        <div class="row">
            <div class="col-md-12">
                <h4 class="pull-right">Dataset: {{selectedDataAccount.name}}</h4>
                <button type="button" ng-click="markButton()" class="btn btn-info">Match Negative Keywords</button>
				<button type="button" ng-click="markOrderIndepDuplicates()" class="btn btn-info">Match Order Independent Duplicate Keywords</button>
                <button type="button" ng-click="deleteMatches()" class="btn btn-info">Delete Matched</button>
                <button type="button" ng-click="resetMatches()" class="btn btn-default">Reset</button>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
                Total Keywords: {{actualData.length}}<br/>
                Matched Keywords: {{currentKeywordsMatched}}
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
                <div ng-bind-html="renderHtml(tagCloudString)"></div>
            </div>
        </div>
-->
		<div class="col-md-8">
<!--
            <div class="row">
                <div class="col-md-10">
                    <div>
                        <ul class="pager">
                            <li ng-class="{disabled: currentPageNum == 0}">
                            <a href ng-click="changePage(-1)" >« Prev</a>
                            </li>
                            <li ng-class="{disabled: actualData.length <= (currentPageNum+1)*numShowKeywords }">
                            <a href ng-click="changePage(1)">Next »</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <input ng-change="updateKeywordTable()" ng-model="numShowKeywords" type="text" class="form-control pager">
                </div>
            </div> 
-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dataset: {{selectedDataAccount.name}}</h3>
                </div>
                <div class="panel-body">
                    <div ng-show="!selectedDataAccount.id">Please select a dataset</div>
                    <div ng-show="selectedDataAccount.id">
                        <div class="col-md-10">
                            <button type="button" ng-click="markButton()" class="btn btn-info">Match Negative Keywords</button>
                            <button type="button" ng-click="markOrderIndepDuplicates()" class="btn btn-info">Match Duplicate Keywords</button>
                            <button type="button" ng-click="deleteMatches()" class="btn btn-info">Delete Matched</button>
                            <button type="button" ng-click="resetMatches()" class="btn btn-default">Reset</button>
                        </div>
                        <div class="col-md-2">
                            <input ng-change="updateKeywordTable()" ng-model="numShowKeywords" type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <table  ng-show="selectedDataAccount.id" class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="name">Keyword&nbsp;<a ng-click="sort_by('name')"><i class="icon-sort"></i></a></th>
                            <th class="name">Volume&nbsp;<a ng-click="sort_by('name')"><i class="icon-sort"></i></a></th>
                            <th class="description">Delete&nbsp;<a ng-click="sort_by('description')"><i class="icon-sort"></i></a></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <td colspan="3">
                            <div>
                                <ul class="pager">
                                    <li ng-class="{disabled: currentPageNum == 0}">
                                    <a href ng-click="changePage(-1)" >« Prev</a>
                                    </li>
                                    <li ng-class="{disabled: actualData.length <= (currentPageNum+1)*numShowKeywords }">
                                    <a href ng-click="changePage(1)">Next »</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tfoot>
                    <tbody>
                    <tr ng-repeat="item in dummyData" ng-class="{danger: item.negativeKeywordMatch}">
                        <td>{{item.keyword}}</td>
                        <td>{{item.avMonthlySearches}}</td>
                        <td><input type="checkbox" ng-click="negativeKeyowrdCheckBoxToggle(item.id)" ng-checked="item.negativeKeywordMatch" ></td>
                    </tr>
                    </tbody>
                </table>
            </div>  <!-- end panel-default -->

        </div>      <!-- end class col-md-8 -->
		<div class="col-md-4">
            <div ng-show="selectedDataAccount.id" class="panel panel-danger">
                <div class="panel-heading"><h3 class="panel-title">Negative Words ({{negativeKeywordList.length || 0}})</h3></div>

                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <div class="input-group">
                                <input ng-model="newNegativeKeyword" type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button ng-click="addNewNegativeKeyword(newNegativeKeyword)" class="btn btn-default" type="button">Add Negative Word</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="list-group">
                    <a class="list-group-item" ng-repeat="negativeKeyword in negativeKeywordList | orderBy:'negativekeyword':false">{{negativeKeyword.negativekeyword}}
                        <span ng-click="deleteNegativeKeyword(negativeKeyword.id)" class="close" type="button" aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div id="word-cloud">
                    <span ng-repeat = "item in countArraySorted" >
                        <span style="font-size: {{item.count*150}}px;">{{item.Keyword}}</span>
                    </span>
                </div>				
            </div>  <!-- end panel -->

            <div ng-show="selectedDataAccount.id" class="panel panel-primary" id="tagCloud">
                <div class="panel-heading">
                    <h3 class="panel-title">Word Cloud</h3>
                </div>
                <div class="panel-body">
                    <div id="1tagCloud">
                        <ul>
                            <li ng-repeat="tag in tagCloudArray" class="tag{{tag.level}}">
                                <a href="">{{tag.word}} ({{tag.count}}) </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>      <!-- end word cloud panel -->

        </div> <!-- end col-md-4 -->
	</div>
</div>
